@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  font-family: georgia, times, serif;
}

.housing-container{
  max-width: 1200px;
}

.dorm-thumbnail-container{
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;  
}

.dorm-thumbnail{
  width: 100%;
  visibility: hidden;
}

.cursor-pointer{
  cursor: pointer;
}

.side-map{
  height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.btn-primary, .btn-primary:hover{
  color: #b1170f !important;
  background-color: #fff;
  border-color: #b1170f !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:focus, .btn-primary:visited{
  color: #fff  !important;
  border-color: #b1170f !important;
  background-color: #b1170f !important;
}

.modal-divider-horizontal{
  width: 100%;
  height: 1px;
  margin: 0 16px 16px 16px;
  background-color: #b1170f;
}

.carousel-item{
  height: 100%;
}

.carousel-inner{  
  max-width: 798px;
  height: 666px;
}

.modal-carousel-img{
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.missing-facilitiy{
  color: #808080;
  text-decoration: line-through;
}

.modal-map-container{
  height: 400px;
}

#housing-header > p, .filter-btn, .card-text, .modal-body-text, .modal-close-btn{
  font-family: 'Rubik', sans-serif;
}

@media(max-width: 761px){
  .side-map{
    margin-left: 8px !important;
  }
}

@media(max-width: 991px){
  .carousel-inner{
    height: 400px;
  }
}
